#frames{
    min-width: 100%;
    min-height: 100%;
    
}
iframe{
    width: 100%;
    min-height: 120rem;
}
#fifteen-game{
    display: none;
}
#maze-game{
    display: none;
}
#budgety-game{
    display: none;
}